<div class="about">
    <div class="about_img">
        <img src="/assets/singer.jpg" alt="">
    </div>
    <div class="about_title">
        ABOUT
    </div>
    <div class="about_content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempore repellendus cumque deleniti soluta alias
        repellat eveniet exercitationem, maxime commodi esse expedita corrupti! Doloribus, ea eum quasi ut quae
        voluptates pariatur! Aut, nostrum quasi! Ea ratione, ut error officia corrupti voluptatibus reprehenderit culpa
        labore. Perferendis nam harum voluptate unde quo ratione, non quam dolore nostrum tempora sunt repellendus
        voluptates odio provident dolores maiores deserunt voluptas facilis labore. Blanditiis, aperiam provident beatae
        consequatur, natus consequuntur laudantium sed odit nulla vitae ad explicabo rerum? Dicta, ut assumenda
        doloribus repellendus dolorum eligendi voluptatum dignissimos est sunt, eos voluptatem dolorem culpa molestias
        possimus suscipit nobis doloremque deleniti reprehenderit fugiat rem itaque accusamus tempora! Maxime assumenda
        fugit totam asperiores vero nihil sit facilis aliquid quia nam non, tenetur libero praesentium suscipit debitis
        veniam. Id exercitationem consequatur cumque maxime doloremque aspernatur magnam ducimus inventore voluptatibus
        architecto? Quasi, obcaecati nemo repellendus incidunt modi voluptatibus enim sunt esse?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tempore repellendus cumque deleniti soluta alias
        repellat eveniet exercitationem, maxime commodi esse expedita corrupti! Doloribus, ea eum quasi ut quae
        voluptates pariatur! Aut, nostrum quasi! Ea ratione, ut error officia corrupti voluptatibus reprehenderit culpa
        labore. Perferendis nam harum voluptate unde quo ratione, non quam dolore nostrum tempora sunt repellendus
        voluptates odio provident dolores maiores deserunt voluptas facilis labore. Blanditiis, aperiam provident beatae
        consequatur, natus consequuntur laudantium sed odit nulla vitae ad explicabo rerum? Dicta, ut assumenda
        doloribus repellendus dolorum eligendi voluptatum dignissimos est sunt, eos voluptatem dolorem culpa molestias
        possimus suscipit nobis doloremque deleniti reprehenderit fugiat rem itaque accusamus tempora! Maxime assumenda
        fugit totam asperiores vero nihil sit facilis aliquid quia nam non, tenetur libero praesentium suscipit debitis
        veniam. Id exercitationem consequatur cumque maxime doloremque aspernatur magnam ducimus inventore voluptatibus
        architecto? Quasi, obcaecati nemo repellendus incidunt modi voluptatibus enim sunt esse?
    </div>
</div>