.mini_box_navigation_music {
  width: 100%;
  height: 150px;
  float: left;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes {
  width: 28%;
  height: 120px;
  float: left;
  margin: 20px;
  background-color: rgb(23, 24, 39);
  border-radius: 0.5em;
  transition: 0.5s;
}
.boxes:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.img_section {
  width: 30%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_section img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.name_and_title {
  width: 50%;
  height: 100%;
  float: left;
  color: white;
}
.name_and_title h1 {
  padding: 30px 20px 0;
  font: bold 1.5rem sans-serif;
}
.name_and_title h4 {
  padding-left: 20px;
}
.navigation_btn {
  width: calc(100% - 80%);
  height: 100%;
  float: left;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest_music_section {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 30px;
}
.title {
  width: 100%;
  height: 50px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 1.4rem sans-serif;
}
.music_area {
  width: 80%;
  height: auto;
  height: calc(100% - 50px);
  float: left;
  margin-left: 10%;
  margin-top: 3%;
}
.music_card {
  width: 250px;
  height: 350px;
  background-color: rgb(23, 24, 39);
  float: left;
  margin-left: 3.2%;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 3%;
}
.music_card:hover {
  transform: scale(1.04);
}
.album_img {
  width: 100%;
  height: 180px;
  float: left;
}
.album_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album_name {
  width: 100%;
  height: 60px;
  float: left;
  font: bold 1.2rem sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share_and_play_btn {
  width: 100%;
  height: 60px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns {
  width: 40px;
  height: 40px;
  background-color: rgb(196, 14, 44);
  margin-right: 10px;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews {
  width: 100%;
  height: calc(100% - 300px);
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1rem sans-serif;
  color: white;
  font-size: 25px;
}

/* media query start from here  */

@media (max-width: 1200px) and (min-width: 0px) {
  .mini_box_navigation_music {
    height: auto;
  }
  .boxes {
    width: 30%;
    margin: 10px;
  }
  .music_area {
    width: 850px;
    margin-left: 15%;
  }
}

@media (max-width: 1000px) and (min-width: 0px) {
  .mini_box_navigation_music {
    height: auto;
    flex-direction: column;
  }
  .boxes {
    width: 70%;
  }
  .img_section {
    width: 20%;
  }
  .name_and_title h1 {
    padding: 30px 0px 0px;
  }
  .name_and_title h4 {
    padding: 0;
  }
  .navigation_btn {
    width: calc(100% - 70%);
  }
  .music_area {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 600px) and (min-width: 0px) {
  .boxes {
    width: 90%;
    height: 100px;
  }
  .img_section {
    width: 25%;
  }
  .img_section img {
    height: 60px;
    width: 60px;
  }
  .name_and_title h1 {
    font: bold 1.2rem sans-serif;
    padding: 25px 0px 0;
  }
  .name_and_title h4 {
    font: 0.8rem sans-serif;
  }
  .navigation_btn {
    width: calc(100% - 75%);
  }
}

@media (max-width: 640px) and (min-width: 0px) {
  .music_area {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .music_card {
    margin-left: 0;
    margin-top: 10%;
  }
}
