<div class="contact">
    <div class="contact_title">
        CONTACT US
    </div>
    <div class="contact_form_area">
        <div class="c_box">
            <img src="assets/contact.png" alt="">
        </div>
        <div class="c_box">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter your name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter Your Email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mobile No.</mat-label>
                <input matInput placeholder="Enter Your Mobile Number" type="number">
            </mat-form-field>
            <button mat-raised-button color="warn">Submit</button>
        </div>
    </div>
</div>