<div class="gallery">
    <div class="gallery_title">
        OUR GALLERY
    </div>
    <div class="gallery_img">
        <img src="assets/singer.jpg" alt="" style="float: left;">
        <img src="assets/images (2).jpeg" alt="" style="float: left;">
        <img src="assets/istockphoto-138026020-612x612.jpg" alt="" style="float: left;">
        <img src="assets/istockphoto-494388654-612x612.jpg" alt="" style="float: left;">
        <img src="assets/istockphoto-970929102-612x612.jpg" alt="" style="float: left;">
        <img src="assets/istockphoto-1389438819-612x612.jpg" alt="" style="float: left;">
        <img src="assets/istockphoto-161839324-612x612.jpg" alt="" style="float: left;">
        <img src="assets/istockphoto-502088147-612x612.jpg" alt="" style="float: left;">
        <img src="assets/istockphoto-484157630-612x612.jpg" alt="" style="float: left;">
        <img src="assets/song.jpg" alt="" style="float: left;">
        <img src="assets/slider_img.jpg" alt="" style="float: left;">
        <img src="assets/istockphoto-1389438819-612x612.jpg" alt="" style="float: left;">
    </div>
</div>